*.swp
tags
Session.vim
compile_commands.json
setUpFiles.txt
designUML
.vdcode/*
*.srctrlbm
*.srctrldb
*.srctrlprj
W_cmake_command.txt
toDo.txt
.vscode
.cache
.DS_Store
tool/tests/bl_master/bl_master100k.vcd
tool/examples/sobel/ass.txt
tool/third_party/spot
tool/third_party/antlr4
tool/third_party/boost
tool/third_party/z3
tool/third_party/gedlib
tool/src/miner/modules/src/traceReader/vcdTraceReader/pyVCDparser/vcdToC.pyc
tool/src/miner/modules/src/traceReader/vcdTraceReader/pyVCDparser/Verilog_VCD.pyc
tool/src/api/cpp/example/harm_example
tool/doc/html/*
tool/build/*
tool/install/*
tool/.cache/*
.cache/*
miners/tools/harm/runs/*
miners/tools/texada/runs/*
miners/tools/goldminer/runs/*
miners/tools/samples2ltl/runs/*
miners/tools/daikon/runs/*
